header{
    display: flex;
    position: fixed;
}
#header-img{
    height: 150px;
    /* width: 200px; */
}
main{
    padding-top: 200px;
}
@media (max-width: 500px){
    html{
        padding: 0;
    }
}