/* Basic settings */
:root{
    --theme-1: #20aacc;
    --theme-2: #2044aa;
    --theme-3: #401010;
    --theme-4: #505060;
    --text-1: #402020;
    --text-2: #707070;
    --text-3: #dddddd;
    --text-4: #cc5050;
    --back: #eeeeee;
}
*, *::before, *::after {
    box-sizing: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
/* Text */
/* h1, h2{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    text-align: center;
} */
h1{
    font-size: 6rem;
}
h2{
    font-size: 4rem;
}


/* Body */
body{
    background-color: var(--back);
    margin: 0;
    line-height: 1.4;
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
}
img {
    display: block;
    width: 100%;
}
/* nav */
.nav{
    position: fixed;
    top: 0; 
    /* left: 0;  */
    width: 100%;
    /* height: 60px; */
    min-height: 60px;
    background-color: var(--theme-1);
    box-shadow: 0 1.5px rgb(0, 0, 0);
    z-index: 1;
}
#nav-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}
nav > ul{
    list-style: none;
}
#nav-list a{
    display: block;
    color:var(--text-3);
    text-decoration: none;
    font-size: 2.4rem;
    padding: 2rem;
}
#nav-brand{
    font-size: 2.4rem;
    font-weight: bold;
}

/* welcome */
#welcome-section{
    background-color: var(--theme-4);
    height: 99vh;
    margin-top: 60px;
    flex-direction: column;
    display: flex;
    font-family: sans-serif;
    color: var(--text-3);
}
#personal{
    list-style: square;
    justify-content: center;
    /* margin-left: 500px; */
}
#welcome-section ul{
    text-align: left;
}
#welcome-section h1{
    color: var(--text-3);
}
#welcome-section h2{
    color: var(--text-4);
    font-style: italic;
}
#welcome-section p{
    color: var(--text-2);
}
/* projects */
#projects{
    background-color: var(--theme-3);
    text-align: center;
    /* height: ; */
}
.certi-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1280px;
    grid-gap: 4rem;
    width: 90%;
    margin: 0 auto ;
}

/* profile */
#profile{
    background-color: var(--theme-2);
    
    height: 33vh;
}

/* footer */
footer{
    height: 10vh;
    background-color: var(--theme-4);
}
@media (max-width: 500px){

}